#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo img {
    width: 150px; /* Sesuaikan ukuran logo sesuai kebutuhan */
  }
  
  .preview-devices ul {
    list-style: none;
    display: flex;
  }
  
  .preview-devices li {
    margin-right: 10px;
  }
  
  .current-template {
    display: flex;
    align-items: center;
  }
  
  .navigate {
    margin-left: auto;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
  